# Compiler files
cache/
forge-cache/*
out/
.env
.helpers
.layerzeroHelpers
manticore/
src/SimplifiedStaking.sol
# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/
lib
flattened/
research/

deploy/